<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivms.ivms8700">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".control.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".view.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SetingActivity"
            android:label="@string/title_activity_seting"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ivms.ivms8700.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.AddMonitoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle" />
        <activity
            android:name=".view.FaceClockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.FaceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HelmetIdentActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.CameraStatisticsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.OnlineSummaryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.WeatherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ViewPagerActivity"
            android:theme="@style/PhotoTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AddCamerActivity"
            android:theme="@style/dialogstyle" />

        <service android:name=".service.MsgService" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:process=":remote" />



    </application>

</manifest>